# Auto detect text files and perform LF normalization.
# This will handle all files NOT found below
*          text=auto

# Java sources and tools
*.java     text diff=java
*.groovy   text diff=java
*.gradle   text diff=java
gradlew    text eol=lf
*.jar      binary

# Scripts
*.bash     text eol=lf
*.sh       text eol=lf
*.zsh      text eol=lf
# These are explicitly windows files and should use crlf
*.bat      text eol=crlf
*.cmd      text eol=crlf
*.ps1      text eol=crlf

# Serialisation
*.json     text
*.yaml     text
*.yml      text

# Documentation/text files
*.md       linguist-detectable

# Text files where line endings should be preserved
*.patch    -text
*.fwf      -text
